<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>EncheresENI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuctionServletTest</display-name>
    <servlet-name>AuctionServletTest</servlet-name>
    <servlet-class>fr.eni.enchereseni.ihm.AuctionServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionServletTest</servlet-name>
    <url-pattern>/AuctionServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>fr.eni.enchereseni.ihm.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet2</display-name>
    <servlet-name>TestServlet2</servlet-name>
    <servlet-class>fr.eni.enchereseni.ihm.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet2</servlet-name>
    <url-pattern>/TestServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NolTestServlet</display-name>
    <servlet-name>NolTestServlet</servlet-name>
    <servlet-class>fr.eni.enchereseni.ihm.NolTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NolTestServlet</servlet-name>
    <url-pattern>/NolTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NolTestServlet2</display-name>
    <servlet-name>NolTestServlet2</servlet-name>
    <servlet-class>fr.eni.enchereseni.ihm.NolTestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NolTestServlet2</servlet-name>
    <url-pattern>/NolTestServlet2</url-pattern>
  </servlet-mapping>
</web-app>